# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/libraries/support_v4_25_0_1.xml
.idea/libraries/support_fragment_25_0_1.xml
.idea/runConfigurations.xml
quickapp.iml
app/app.iml
.idea/workspace.xml
.idea/libraries/support_vector_drawable_25_0_1.xml
.gradle/2.14.1/taskArtifacts/cache.properties
.gradle/2.14.1/taskArtifacts/taskArtifacts.bin
.idea/.name
.idea/misc.xml
.idea/libraries/support_core_utils_25_0_1.xml
.idea/libraries/appcompat_v7_25_0_1.xml
.idea/libraries/support_compat_25_0_1.xml
.idea/libraries/hamcrest_core_1_3.xml
.idea/libraries/support_annotations_25_0_1.xml
.idea/libraries/animated_vector_drawable_25_0_1.xml
.gradle/2.14.1/taskArtifacts/cache.properties.lock
.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
.gradle/2.14.1/taskArtifacts/fileHashes.bin
.idea/libraries/support_core_ui_25_0_1.xml
.idea/libraries/support_media_compat_25_0_1.xml
.idea/libraries/junit_4_12.xml
.idea/copyright/profiles_settings.xml
.idea/gradle.xml
.idea/modules.xml
.idea/encodings.xml
.idea/compiler.xml
